<nz-list nzItemLayout="horizontal">
    <nz-list-item [nzActions]="[passwordOp]">
        <ng-template #passwordOp>
            <nz-switch [(ngModel)]="i.password" nzCheckedChildren="On" nzUnCheckedChildren="Off"></nz-switch>
        </ng-template>
        <nz-list-item-meta nzTitle="Account Password" nzDescription="Other users’ messages will be notified in the form of internal messages"></nz-list-item-meta>
    </nz-list-item>
    <nz-list-item [nzActions]="[messagesOp]">
        <ng-template #messagesOp>
            <nz-switch [(ngModel)]="i.messages" nzCheckedChildren="On" nzUnCheckedChildren="Off"></nz-switch>
        </ng-template>
        <nz-list-item-meta nzTitle="System Message" nzDescription="System Message will be notified in the form of station letter"></nz-list-item-meta>
    </nz-list-item>
    <nz-list-item [nzActions]="[todoOp]">
        <ng-template #todoOp>
            <nz-switch [(ngModel)]="i.todo" nzCheckedChildren="On" nzUnCheckedChildren="Off"></nz-switch>
        </ng-template>
        <nz-list-item-meta nzTitle="To-do message" nzDescription="To-do message will be notified in the form of station letter"></nz-list-item-meta>
    </nz-list-item>
</nz-list>