<nz-spin [nzSpinning]="userLoading">
  <div class="main" *ngIf="user">
    <div class="left">
      <form
        nz-form
        nzLayout="vertical"
        #f="ngForm"
        (submit)="save()"
        se-container="1"
      >
        <se label="Email" error="Please enter your email!">
          <input
            nz-input
            type="email"
            [(ngModel)]="user.email"
            name="email"
            required
          />
        </se>
        <se label="Họ">
          <input
            nz-input
            [(ngModel)]="user.firstName"
            name="firstName"
            placeholder="Họ"
            required
          />
        </se>
        <se label="Tên">
          <input
            nz-input
            [(ngModel)]="user.lastName"
            name="lastName"
            placeholder="Tên"
            required
          />
        </se>
        <se label="Địa chỉ" error="Please enter your address!">
          <input nz-input [(ngModel)]="user.address" name="address" required />
        </se>
        <se label="Số điện thoại" error="Please enter your phone number!">
          <input
            nz-input
            [(ngModel)]="user.phoneNumber"
            name="phoneNumber"
            required
          />
        </se>
        <se>
          <button nz-button nzType="primary" [disabled]="f.invalid">
            Cập nhật thông tin
          </button>
        </se>
      </form>
    </div>
    <div class="right">
      <div class="avatar_title">Avatar</div>
      <div class="avatar"><img src="{{ user.avatar }}" alt="Avatar" /></div>
      <nz-upload nzAction="/user/avatar" [nzShowUploadList]="false">
        <button nz-button class="button_view">
          <i nz-icon nzType="upload"></i>
          <span>Change avatar</span>
        </button>
      </nz-upload>
    </div>
  </div>
</nz-spin>
