<nz-list nzItemLayout="horizontal">
    <nz-list-item [nzActions]="[passwordOp]">
        <ng-template #passwordOp>
            <a (click)="msg.success('Edit')">Edit</a>
        </ng-template>
        <nz-list-item-meta nzTitle="Account Password" [nzDescription]="passwordDesc">
            <ng-template #passwordDesc> Current password strength: <span class="text-green">strong</span> </ng-template>
        </nz-list-item-meta>
    </nz-list-item>
    <nz-list-item [nzActions]="[phoneOp]">
        <ng-template #phoneOp>
            <a (click)="msg.success('Edit')">Edit</a>
        </ng-template>
        <nz-list-item-meta nzTitle="secret phone" [nzDescription]="phoneDesc">
            <ng-template #phoneDesc>
                Bound mobile phone: 159****2231
            </ng-template>
        </nz-list-item-meta>
    </nz-list-item>
    <nz-list-item [nzActions]="[questionOp]">
        <ng-template #questionOp>
            <a (click)="msg.success('Edit')">Edit</a>
        </ng-template>
        <nz-list-item-meta nzTitle="secret security question" [nzDescription]="questionDesc">
            <ng-template #questionDesc>
                There is no secret security issue, which can effectively protect the account security
            </ng-template>
        </nz-list-item-meta>
    </nz-list-item>
    <nz-list-item [nzActions]="[emailOp]">
        <ng-template #emailOp>
            <a (click)="msg.success('Edit')">Edit</a>
        </ng-template>
        <nz-list-item-meta nzTitle="backup mailbox" [nzDescription]="emailDesc">
            <ng-template #emailDesc>
                Bind mailbox: cip*****.com
            </ng-template>
        </nz-list-item-meta>
    </nz-list-item>
    <nz-list-item [nzActions]="[mfaOp]">
        <ng-template #mfaOp>
            <a (click)="msg.success('Edit')">Edit</a>
        </ng-template>
        <nz-list-item-meta nzTitle="MFA equipment" [nzDescription]="mfaDesc">
            <ng-template #mfaDesc>
                Unbound MFA device, after binding, you can perform a second confirmation
            </ng-template>
        </nz-list-item-meta>
    </nz-list-item>
</nz-list>